
.container ol li{
    font-size: 1.4em;
    line-height: 1.6em;
    color: #170e0e;
}

.container .title{
    font-size: 40px;
}


.start{
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.start .btn{
    padding: .2em 1.7em;
    border: none;
    border-radius: 7em;
    font-size: 1.8em;
    color: #202020;
    text-decoration: none;
    background: linear-gradient(rgba(49, 74, 194, 0.5),rgba(203, 109, 109, 0.82));
}

#form{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

#form .userid{
    padding: .7em 2em;
    width: 50%;
    border: double;
    border-radius: 4px;
    font-size: 1.2em;
    font-style: normal;
    letter-spacing: 1px;
}